{% extends basesTmpl %}

{% block content %}

<main>
	<section class="slider">
		<div class="container flex-container">
			<div class="red-block"></div>
			<h1 class="slider-title"><strong>THE BRAND</strong> OF LUXERIOUS <span>FASHION</span></h1>
		</div>
	</section>
	<div class="container flex-container">
		<div class="column column-left">
			<figure class="comercial-banner">
				<figcaption class="title"><a href="#">hOT dEAL<span>FOR MEN</span></a></figcaption>
				<a href="#"><img src="img/layer-30.png" alt=""></a>
			</figure>
			<figure class="comercial-banner">
				<figcaption class="title"><a href="#">LUXIROUS & trendy<span>ACCESORIES</span></a></figcaption>
				<a href="#"> <img src="img/layer-33.png" alt=""></a>
			</figure>

		</div>
		<div class="column column-right">
			<figure class="comercial-banner">
				<figcaption class="title"><a href="#">30% offer<span>women</span></a></figcaption>
				<a href="#"><img src="img/layer-32.png" alt=""></a>
			</figure>
			<figure class="comercial-banner">
				<figcaption class="title"><a href="#">new arrivals<span>FOR kids</span></a></figcaption>
				<a href="#"><img src="img/layer-31.png" alt=""></a>
			</figure>
		</div>
	</div>
	<section>
        <header>
            <h2>Fetured Items</h2>
            <p>Shop for items based on what we featured in this week</p>
        </header>
        <div class="container flex-container goods" id="goods1">

        </div>
        <script>
            var goods1 = new Goods('goods1');
            goods1.loadGoods(0, 4);
        </script>
        <button type="button" id="show_more">Show More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
	</section>
	<div class="container flex-container">
		<div class="comercial">
			<div><a href="#">
					<strong>30% OFFER</strong><br> FOR <span>WOMEN</span></a>
			</div>
		</div>
		<ul class="comercial-list">
			<li>
				<img src="img/comercial-icon%20(1).png" alt="comercial-icon">
				<div>
					<h4>Free Delivery</h4>
					<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
						models.</p>
				</div>
			</li>
			<li>
				<img src="img/comercial-icon%20(2).png" alt="comercial-icon">
				<div>
					<h4>Sales & discounts</h4>
					<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
						models.</p>
				</div>
			</li>
			<li>
				<img src="img/comercial-icon%20(3).png" alt="comercial-icon">
				<div>
					<h4>Quality assurance</h4>
					<p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
						models.</p>
				</div>
			</li>
		</ul>
	</div>
</main>

{% endblock %}
