<nav class="primary-menu">
    <ul class="primary-menu-list">
        <li class="primary-menu__item-wrap"><a class="primary-menu__item active" href="index.html">Home</a></li>
        <li class="primary-menu__item-wrap"><a class="primary-menu__item" href="/category/man">Man</a></li>
        <li class="primary-menu__item-wrap"><a class="primary-menu__item" href="/category/women">Women</a>
            <div class="mega-menu menu">
                <div>
                    <h6>Women</h6>
                    <ul>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Sweaters/Knits</a></li>
                        <li><a href="#">Jackets/Coats</a></li>
                        <li><a href="#">Blazers</a></li>
                        <li><a href="#">Denim</a></li>
                        <li><a href="#">Leggings/Pants</a></li>
                        <li><a href="#">Skirts/Shorts</a></li>
                        <li><a href="#">Accessories</a></li>
                    </ul>
                </div>
                <div>
                    <h6>Women</h6>
                    <ul>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Sweaters/Knits</a></li>
                        <li><a href="#">Jackets/Coats</a></li>
                    </ul>
                </div>
                <div>
                    <h6>Women</h6>
                    <ul>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Sweaters/Knits</a></li>
                    </ul>
                </div>
                <div>
                    <h6>Women</h6>
                    <ul>
                        <li><a href="#">Dresses</a></li>
                        <li><a href="#">Tops</a></li>
                        <li><a href="#">Sweaters/Knits</a></li>
                        <li><a href="#">Jackets/Coats</a></li>
                    </ul>
                </div>
                <figure class="promo-sales"><a href="#"><img src="../../img/layer-42.png" alt=""></a><figcaption><a href="">Super<br>  sale!</a></figcaption></figure>
            </div>
        </li>
        <li class="primary-menu__item-wrap"><a class="primary-menu__item" href="#">Kids</a></li>
        <li class="primary-menu__item-wrap"><a class="primary-menu__item" href="#">Accoseriese</a></li>
        <li class="primary-menu__item-wrap"><a class="primary-menu__item" href="#">Featured</a></li>
        <li class="primary-menu__item-wrap"><a class="primary-menu__item" href="#">Hot Deals</a></li>
    </ul>
</nav>