{% extends basesTmpl %}

    {% block content %}
        <div><a href="/admin/addGoods" class="button is-success">Добавить товар</a></div>
        <hr>
        {% if activePage == 1 %}
            <span class="tag is-light"> Prev </span>
            <a class="tag is-info" href="/admin/goods/{{ activePage + 1 }}"> Next </a>
        {% elseif  activePage < quantityPages %}
            <a class="tag is-info" href="/admin/goods/{{ activePage - 1 }}"> Prev </a>
            <a class="tag is-info" href="/admin/goods/{{ activePage + 1 }}"> Next </a>
        {% else %}

            <a class="tag is-info" href="/admin/goods/{{ activePage - 1 }}"> Prev </a>
            <span class="tag is-light"> Next </span>

        {% endif %}
        <br><br>
<div class="pages">

    {% for page in 1..(quantityPages + 1) %}
        {% if page == activePage %}
        <span class="tag is-dark">{{ page }}</span>
        {% else %}
        <a class="tag is-light" href="/admin/goods/{{ page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

</div>
        <hr>
        <div id="adminGoods">
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Material</th>
                    <th>Category</th>
                    <th>Designer</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Title IMG(hover for scale)</th>
                </tr>
                </thead>
                <tbody>
                {% for item in products %}
                <tr>
                    <td>{{item.id_product  }}</td>
                    <td><a href="/goods/view/{{ item.id_product }}">{{ item.title }}  </a>  </td>
                    <td>${{ item.price / 100 }}</td>
                    <td>{{ item.material_name}}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.designer_name }}</td>
                    <td><a href="">Изменить</a></td>
                    <td><a href="">Удалить</a></td>
                    <td><a href="">Добавить / Изменить титульную картинку</a></td>
                    <td><img class="goodsImgAdmin" src="../../../../{{ item.img}}" alt=""></td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>

    {% endblock %}