<!DOCTYPE html>
<html>
{% block head %}
    {% include "parts/head.tmpl" %}
{% endblock %}
<body>
{% include 'parts/topMessage.tmpl' %}
{% include 'parts/header.tmpl' %}

{% block content %}

{% endblock %}

{% include 'parts/footer.tmpl' %}
