<div class="breadcrumb">
    <div class="container flex-container">
        <h3>New Arrivals</h3>
        <nav class="flex-container">
            <a href="/">Home</a>
            <a href="/category/{{ breadCrumbCategory }}">{{ breadCrumbCategory }}</a>
            {#<a href="{{  }}">New Arrivals</a>#}
        </nav>
    </div>
</div>