<div class="container flex-container">
    <section class="also-like">
        <h2>you may like also</h2>
        <div class="flex-container goods" id="goods3">

            {% for product in recommendedProducts %}
                <figure class="goods__item" data-id-product="{{ product.id_product }}">
                    <button class="goods__button buy_button" type="button">Add To Cart</button>
                    <button class="goods__button compare-button" type="button"></button>
                    <button class="goods__button add-to-wish-button" type="button"></button>
                    <a href="../goods/<?=$item['id_product']?>"><img src="../../{{ product.img }}" alt="goods photo"></a>
                    <figcaption class="goods__caption"><a href="/goods/view/{{ product.id_product }}">{{ product.title }}</a>
                        <div class="goods__price">${{ (product.price / 100) }}</div>
                    </figcaption>
                </figure>
            {% endfor %}

        </div>
    </section>
</div>