<div id="dialog" title="Сообщение">
    <p id="addProduct">Товар добавлен в корзину</p>
    <p id="notAuth">Вы не авторизованы, пожалуйста войдите под своим логином и паролем</p>
    <p id="deleteProduct">Товар удален из корзины</p>
</div>